{% set profile = this_node_profile %}
{% for entry in profile.gres_entries | default([]) %}
NodeName={{ansible_hostname}} Name=gpu File={{ entry.files }} Type={{ profile.gpu_type }}{% if entry.cores | default('') | length > 0 %} Cores=[{{ entry.cores }}]{% endif %}

{% endfor %}
