{% set profile = this_node_profile %}
[Unit]
Requires=munge.service
{% if profile.fabric_manager | default(false) %}
Wants=nvidia-fabricmanager.service
After=nvidia-fabricmanager.service
{% endif %}

[Service]
Restart=always
ExecStart=
{% if profile.gpu | default(false) %}
{% set gres = "Gres=gpu:%s:%d %s" | format(profile.gpu_type, profile.gpu_count, profile.slurmd_extra | default('')) %}
{% else %}
{% set gres = profile.slurmd_extra | default('') %}
{% endif %}
ExecStart={{slurm_exec}}/sbin/slurmd --systemd -Z --conf "{{ gres | trim }} Feature={{ profile.features | join(',') }},CN__{{cluster_name}}" --conf-server {{ hostvars[groups['controller'][0]]['ansible_fqdn'].split('.')[0] }}{% if (groups['slurm_backup']| length ) > 0 %},{{ hostvars[groups['slurm_backup'][0]]['ansible_fqdn'].split('.')[0] }}{% endif %} $SLURMD_OPTIONS