{% for item in groups['compute'] %}
{% set short_name = hostvars[item]['ansible_fqdn'].split('.') %}
{{ hostvars[item]['ansible_host'] }} {{ hostvars[item]['ansible_hostname'] }} {{ hostvars[item]['ansible_hostname'] }}.local.vcn {{ hostvars[item]['inventory_hostname'] }} {{ hostvars[item]['ansible_fqdn'] }} {{ short_name[0] }}
{% endfor %}
